@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fascinate&family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #fef9ee;
	--second-color: #fefefe;
	--text-dark: #03252c;
	--text-white: antiquewhite;
	--text-color-one: #292e66;
	--text-color-two: #db4652;
	--text-color-three: #58a89d;
	--text-color-four: #e27238;
	--font-main: "Bricolage Grotesque", sans-serif;
	--font-first: "Poppins", sans-serif;
	--font-second: "Limelight", sans-serif;
	--font-third: "Fascinate", system-ui;

	--transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family: var(--font-main);
	background-color: var(--bg-color);
	color: var(--text-dark);
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
}
